.header img {
    width: 100px;
}

.header {
    grid-area: header;
    background-color: lightpink;
}

.login_block {
 float: right;
    color: white;
    font-weight: bold;
}

.login_block a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.loginItems {
    display: flex;
    flex-direction: row;
}

.item{
    color: white;
    font-size: 15px;
    text-align: center;
    background: deeppink;
    padding: 3px;
    border-radius: 1px;
    margin-top: 2px;
    margin-right: 2px;
    text-shadow: purple;


}