.item a{
    height: 30px;
    text-decoration: none;
    color: white;
    font-size: large;
    text-shadow: lightslategrey;
    font-family: "Modern No. 20";


}
.navigate {

}
.item {
    background-color: lightpink;
    border: lightpink solid 1px;
    margin: 1px;
    padding: 0;
    box-shadow: dimgrey;
    text-align: center;
}
.item a.active {
    color: rebeccapurple;
}
