.wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-template-areas:
            "header header"
            "nav content";
    width: 1200px;
}

.navigate {
    grid-area: nav;
    background-color: antiquewhite;
}
